*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 90rem;
    height: 277.063rem;
    background: #19191b;
    padding-left: 7.5rem;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2.625rem;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.25rem;
    height: 2.5rem;
    gap: 0.5rem;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
}

.name{
    color: #ffffff;
    width: 5.25rem;
    height: 2.438rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.438rem;
}

.menu{
    margin-left: 17.5rem;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a.homeMenu{
    color: #5454d4;
    width: 3rem;
    height: 1.563rem;
    margin-right: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

a.servicesMenu{
    color: rgb(255, 255, 255, 0.7);
    width: 4.25rem;
    height: 1.563rem;
    margin-right: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

a.projectMenu{
    color: rgb(255, 255, 255, 0.7);
    width: 5.688rem;
    height: 1.563rem;
    margin-right: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

a.aboutMenu{
    color: rgb(255, 255, 255, 0.7);
    width: 4.625rem;
    height: 1.563rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: transparent;
    color: rgb(255, 255, 255, 0.7);
    width: 9.813rem;
    height: 2.75rem;
    margin-left: 14.375rem;
    border-radius: 0.313rem;
    border: rgb(255, 255, 255, 0.7) solid 1px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.363);
}

#home{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.iconFlutuante{
    z-index: 10;
    position: absolute;
    top: 14.438rem;
    left: 42.25rem;
}

.iconFlutuante2{
    z-index: 10;
    position: absolute;
    top: 11.5rem;
    right: 7.5rem;
}

.iconFlutuante3{
    z-index: 10;
    position: absolute;
    top: 41.625rem;
    left: 38.625rem;
}

.iconFlutuante4{
    z-index: 10;
    position: absolute;
    top: 44.75rem;
    right: 6.688rem;
}

.iconFlutuante5{
    z-index: 10;
    position: absolute;
    top: 121.75rem;
    left: 11.5rem;
}

.iconFlutuante6{
    z-index: 10;
    position: absolute;
    top: 128.883rem;
    right: 7.633rem;
}

.iconFlutuante7{
    z-index: 10;
    position: absolute;
    top: 174.252rem;
    left: 5.752rem;
    transform: rotate(55deg);
}

.iconFlutuante8{
    z-index: 10;
    position: absolute;
    top: 185.938rem;
    right: 10.088rem;
    transform: rotate(330deg);
}

.iconFlutuante9{
    z-index: 10;
    position: absolute;
    top: 223.063rem;
    left: 4.625rem;
}

.iconFlutuante10{
    z-index: 10;
    position: absolute;
    top: 237.875rem;
    right: 8.125rem;
}

.iconFlutuante11{
    z-index: 10;
    position: absolute;
    top: 257.438rem;
    left: 9.938rem;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerTitle{
    width: 100%;
    height: 100%;
}

.divTitle{
    width: 100%;
    height: 100%;
    margin-top: 9.25rem;
}

.title{
    color: #ffffff;
    width: 36.375rem;
    height: 15.75;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5.25rem;
    margin: 0;
}

.divParagraph1{
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}

.paragraph1{
    color: rgb(255, 255, 255, 0.7);
    width: 34.7rem;
    height: 9.313rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.313rem;
    line-height: 2.438rem;
    margin: 0;
}

.divButtonServices{
    margin-top: 3.125rem;
}

.buttonServices{
    width: 12.75rem;
    height: 3.625rem;
    background: url(/images/arrow-right-up.png),#5454d4;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 90%;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    margin: 0;

}

.buttonServices:hover{
    background: url(/images/arrow-right-up.png),#5454d4ad;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 90%;
    color: #ffffff;
}

.man{
    width: 40.956rem;
    height: 44.555rem;
    margin-right: 2.169rem;
}


#project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 9.445rem;
}

.containerTitle2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.title2{
    color: #ffffff;
    width: 36.75rem;
    height: 8.75rem;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.375rem;
}

.paragraph2{
    color: rgb(255, 255, 255, 0.7);
    width: 36.75rem;
    height: 4.875rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.313rem;
    line-height: 2.438rem;
    text-align: start;
}

.imageBG{
    width: 75rem;
    height: 41.875rem;
    margin-top: 3.125rem;
}


#services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 9.375rem;

}

.containerTitle3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.title3{
    color: #ffffff;
    width: 43.438rem;
    height: 8.75rem;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.375rem;
    text-align: center;
}


.containerService{
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    width: 100%;
    height: 100%;
}

.containerService.one{
    margin-bottom: 1.5rem;
}

.containerService.two{
    margin-top: 0;
}

.cardService{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2.688rem 3.063rem 2.625rem;
}

.containerImageCard{
    display: flex;
    justify-content: center;
}

.imageCard{
    width: 4.313rem;
    height: 4.313rem;
}

.containerTitleCard{
    margin-top: 1.25rem;
}

.titleCard{
    color: #ffffff;
    height: 2.375rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600, semi-bold;
    font-size: 1.75rem;
    line-height: 2.375rem;
    text-align: center;
}

.containerParagraphCard{
    margin-top: 1.25rem;
}

.paragraphCard{
    color: rgb(255, 255, 255, 0.7);
    width: 18.688rem;
    height: 3.5rem;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75rem;
    height: 39rem;
    margin-top: 9.375rem;
}

.containerTitle4{
    display: flex;
    width: 100%;
}

.title4{
    color: #ffffff;
    width: 47.813rem;
    height: 4.938rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3.625rem;
    line-height: 4.938rem;
    text-align: start;
}

.containerAbout{
    display: flex;
    width: 75rem;
    height: 26.063rem;
    gap: 1.5rem;
    margin-top: 4.375rem;
}

.cardAbout{
    display: flex;
    width: 24rem;
    height: 26.063rem;
}

.cardAbout.two{
    align-items: center;
}

.cardAbout.tree{
    align-items: flex-end;
}

.imageCardAbout{
    width: 21rem;
    height: 15.813rem;
}

#contact{
    display: flex;
    align-items: center;
    width: 82.5rem;
    height: 31.625rem;
    margin-top: 10.5rem;
}

.containerContact{
    display: flex;
    align-items: center;
}

.title5{
    color: #ffffff;
    width: 51.625rem;
    height: 8.25rem;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.125rem;
    text-align: start;
}

.buttonContact{
    background: #5454d4;
    color: #ffffff;
    width: 12.563rem;
    height: 3.75rem;
    border: 0;
    cursor: pointer;
}

.buttonContact:hover{
    background: #5454d4ad;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3.125rem;
}

a.supportFooter{
    color: rgb(255, 255, 255, 0.7);
    width: 4.125rem;
    height: 1.563rem;
    margin-right: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

a.privacyFooter{
    color: rgb(255, 255, 255, 0.7);
    width: 6.938rem;
    height: 1.563rem;
    margin-right: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

a.termsFooter{
    color: rgb(255, 255, 255, 0.7);
    width: 10.938rem;
    height: 1.563rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.paragraphFooter{
    color: rgb(255, 255, 255, 0.7);
    width: 17.813rem;
    height: 2.375rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.375rem;
    text-align: right;
}

/* Mobile - recursive*/

@media only screen and (max-width: 600px) {
    body {
        align-items: center;
        height: 343.063rem;
        padding: 0;
        margin: none;
    }

    header{
        width: 20.438rem;
        height: 2.125rem;
        margin: 2.5rem 1.5rem 4.125rem;
    }

    .logotipo{
        width: 7.188rem;
        height: 2.125rem;
        gap: 0.25rem;
    }

    .logo{
        width: 1.688rem;
        height: 1.688rem;
    }

    .name{
        width: 5.25rem;
        height: 2.125rem;
    }

    .menu{
        display: none;
    }

    .button{
        display: none;
    }

}

/* Tablet - recursive*/

@media only screen and (max-width: 768px) {
    
}
 
/* Laptop - recursive*/

@media only screen and (max-width: 992px) {
    
}